<div class="splash-container">
<h1>e-Wallet</h1>
<div class="splash-btns">
<%= link_to "Sign In", groups_path, class: "btn-sign-in" %>
<%= link_to "Sign Up", new_user_registration_path, class: "btn-sign-up" %>
</div>
</div>